* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #E6E6E6;
    padding: 0px 20px 30px 20px;
    --height: 180px;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto";
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

.logo {
    font-weight: bold;
    height: 150px;
    margin-bottom: 20px;
}

.logo a {
    text-decoration: none;
    color: white;
}

.menu {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    text-decoration: none;
}

.dropdown {
    position: relative;
    /* display: none; */
}

.dropdown-menu {
    display: none;
    background-color: #E6E6E6;
    position: absolute;
    min-width: 80px;
    text-wrap: nowrap;
    padding: 10px;
    left: 0px;
    top: 100%;
    list-style-type: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.menu li:nth-child(even) a {
    color: #7C2BB4;
}

.menu li:nth-child(odd) a {
    color: #004AAD;
}