* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

@font-face {
    font-family: "Aileron";
    src: url("/css/Aileron-Regular.otf");

}
.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 40px;
}

.aileron {
    font-family: "Aileron";
}

.reviews {
    padding: 3px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    width: 60vw;
    
    
}
.review {
    border-radius: 30px;
    box-shadow: 10px 10px 5px 5px grey;
    padding: 3px;
    min-height: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    gap: 30px;
    background-image: linear-gradient(to right, #e7cbfc,#f1e4fa);
}
.foto-review {
    border-radius: 50%;
    border-color: #7C2BB4;
    border-style: solid;
    border-width: 5px;
    width: 150px;
    height: 150px;
   
    
}

.texto-review {
    color: black;
    
}
h3 {
    color: #004AAD;
    margin-bottom: 10px;
}

p {
    font-family: "Roboto";
}
